<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Popular Cars</title>
	</head>
	<body>
		<link rel="stylesheet" href="/public/css/style.css" />
		<header><div id="d1"><h1>Karrs.</h1><br>

		

		
		<div id="d2"><navbar>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/fast-cars">Fast cars</a>
					
				</li>
				<li>
					<a href="/popular-cars">Popular cars</a>
				</li>
				<li>
					<a href="/trucks">Trucks</a>
				</li>
			</ul>
		
		</navbar></div></header>
		<h2>**Welcome to Kaars' Auto Haven: A Journey of Trust and Service**</h2> <br>
		<br>
		

		                                        <h3>Your Trusted Partner in Automotive Excellence :</h3> <br>
												<br>

    	<p>Nestled in the heart of bustling Market Square stands a humble yet inviting car concession
		unlike any other. <br> Its sleek lot is filled with carefully curated vehicles, each promising new 
		adventures for their future owners. This is Kaars' Auto Haven, a labor of love run by Kaars,<br>
 		the ever-dedicated concessionaire who has turned this small corner into a trusted destination for
  		car buyers. <br>
  <br>

		Kaars' story is one of determination and a passion for connecting people with their dream rides.
 		Years ago, Kaars envisioned a place where quality vehicles and personalized <br> service could come together 
 		to create an exceptional buying experience. What started as a small inventory soon grew into a thriving
  		business, renowned for its transparency and care. <br>
		Kaars’ <br> selection of vehicles is a diverse array of options, from reliable  <br>sedans and rugged SUVs to 
		fuel-efficient hybrids and luxury cars. <br> Whether you’re seeking a dependable  <br>commuter car or a family 
		vehicle to embark on road trips, there’s something for everyone. Kaars also offers <br> flexible financing
 		options and expert guidance to ensure each customer drives away with confidence. <br>

	</div>
        

		<script src="/public/js/script.js"></script>
		<script>
			console.log("hello from the server");
		</script>
	</body>
</html>
